
 /* title */
 #name{
   color: black;
   background-color: red;
 
 }
 
 /* form */
 
 #container {
 
  padding: 50px ;
  
  
 }


/* items */

.inner-container {
  border: 1px #ccc solid;
 
  display: inline-grid;
  
  background: aliceblue;
  
}


/* add button */

#addbtn{

  background-color: red;
    
}


#submit{
  background-color: lightskyblue

}



